.list {
    margin-top: 28px;
    /*overflow-y: auto;*/
    /*overflow-x: hidden;*/
    margin-bottom: 55px;
}

.list > div {
    height: 100px;
    background-color: #eee;
    position: relative;
}

.list > div:not(:last-child) {
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.list > div > span:first-child {
    display: inline-block;
    position: absolute;
    top: -25px;
    height: 40px;
    width: 40px;
    background-color: #eee;
    border-radius: 20px;
    margin-left: -18px;
    box-shadow:0 0 10px #666;  
}

.bisque {
    background-color: bisque !important;
}

.lightskyblue {
    background-color: lightskyblue !important;
}