.dialogue {
    
}

.dialogue > div:first-child {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #43CD80;
    z-index: 100;
    display: none;
}

.dialogue > div:nth-child(2) {
    width: 100%;
    position: fixed;
    top: 50px;
    bottom: 38px;
    left: 0px;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: scroll;
}

.dialogue > div:nth-child(2) > div {
    min-height: 50px;
}

.dialogue > div:nth-child(2) > div:not(.showBoxInvert) > span,
.dialogue > div:nth-child(2) > div.showBoxInvert > span {
    display: inline-block;
    position: relative;
    margin: 10px;
}
.dialogue > div:nth-child(2) > div:not(.showBoxInvert) > span {
    float: left;
}
.dialogue > div:nth-child(2) > div.showBoxInvert > span {
    float: right;
}
.dialogue > div:nth-child(2) > div > span:first-child {
    height: 48px;
    width: 48px;
    border-radius: 24px;
    -webkit-box-shadow:0 0 10px #666;  
    -moz-box-shadow:0 0 10px #666;  
    box-shadow:0 0 10px #666;
}

.dialogue > div:nth-child(2) > div > span:last-child {
    min-height: 50px;
    width: 70%;
    border: 1px solid #aaa;
    border-radius: 8px;
    text-align: center;
    line-height: 50px;
    color: #333;
    box-shadow:0 0 10px #bbb;
}

.dialogue > div:nth-child(2) > div:not(.showBoxInvert) > span:last-child:after,
.dialogue > div:nth-child(2) > div.showBoxInvert > span:last-child:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-top: 4px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.dialogue > div:nth-child(2) > div:not(.showBoxInvert) > span:last-child:after{
    margin-left: -8px;
    border-right: 8px solid #bbb;
    left: 0px;
}

.dialogue > div:nth-child(2) > div.showBoxInvert > span:last-child:after{
    margin-right: -8px;
    right: 0px;
    border-left: 8px solid #aaa;
}


.dialogue > div:last-child {
    height: 250px;
    width: 100%;
    position: fixed;
    bottom: -212px;
    left: 0px;
    z-index: 100;
    transition: bottom 0.4s;
    -moz-transition: bottom 0.4s;
    -webkit-transition: bottom 0.4s;
    -o-transition: bottom 0.4s;
    box-shadow: 0 -1px 10px #999;
}

.dialogue > div:last-child > div:first-child {
    height: 38px;
}
.dialogue > div:last-child > div:first-child > span:first-child,
.dialogue > div:last-child > div:first-child > span:last-child {
    width: 20%;
    background-color: #43CD80;
}
.dialogue > div:last-child > div:first-child > span:last-child {
    background-image:  url(./send.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.dialogue > div:last-child > div:first-child > span:first-child {
    background-image:  url(./add.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
}
.dialogue > div:last-child > div:first-child > span:nth-child(2) {
    width: 60%;
}

.dialogue > div:last-child > div:first-child > span:nth-child(2) > input {
    height: 100%;
    width: 100%;
    outline: none;
    line-height: 38px;
    border: none;
    background-color: #fff;
}

.dialogue > div:last-child > div:last-child {
    height: 100%;
    background: lavender;
}

.dialogue > div:last-child > div:first-child > span {
    display: inline-block;
    height: 100%;
    float: left;
}
