.toolBarWrap {
    position: fixed;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    background-color: #43CD80;
    box-shadow: 0 1px 5px #aaa;
}

.arrows {
    width: 40px;
    height: 40px;
    float: left;
    margin-top: 5px;
}
.messages {
    position: relative;
    width: 40px;
    height: 40px;
    float: right;
    margin-top: -45px;
    margin-right: 5px;
}
.count {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: rgba(255, 0, 0, 0.92);
    border-radius: 7px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
}
.arrowsPic {
    width: 100%;
    height: 100%;
}
.messagesPic {
    width: 100%;
    height: 100%;
}

.title {
    width: 80px;
    height: 50px;
    margin: auto;
    line-height: 50px;
    text-align: center;
    color: #FFF;
}
/**/
@keyframes flashShow
{
from {
        opacity: 0;
        filter:alpha(opacity=0);
        margin-top: -50px
    }
to {
        opacity: 1;
        filter:alpha(opacity=1);
        margin-top: 0px
 }
}

@-moz-keyframes flashShow
{
from {
        opacity: 0;
        filter:alpha(opacity=0);
        margin-top: -50px
    }
to {
        opacity: 1;
        filter:alpha(opacity=1);
        margin-top: 0px
 }
}

@-webkit-keyframes flashShow
{
from {
        opacity: 0;
        filter:alpha(opacity=0);
        margin-top: -50px
    }
to {
        opacity: 1;
        filter:alpha(opacity=1);
        margin-top: 0px
 }
}


@-o-keyframes flashShow
{
from {
        opacity: 0;
        filter:alpha(opacity=0);
        margin-top: -50px
    }
to {
        opacity: 1;
        filter:alpha(opacity=1);
        margin-top: 0px
 }
}

.hide {
    display: none;
}

.show {
    display: block;
    animation: flashShow 0.5s;
    -moz-animation: flashShow 0.5s;
    -webkit-animation: flashShow 0.5s;
    -o-animation: flashShow 0.5s;
    animation-fill-mode: forwards;
}

